.yearButton {
    display:inline-block;
    border-radius:2em;
    margin-right: 10px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
.yearButton:hover{
    transform: scale(1.1);
}
@media all and (max-width:30em){
    .yearButton {
        display:block;
        margin:0.2em auto;
    }
}