.yearButton {
    display:inline-block;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: large;
    color:#FFFFFF;
    text-align:center;
    border: none;
    background: none;
    text-decoration: none;
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.yearButton:hover{
    transform: scale(1.1);
}

.yearButton:focus{
    transform: scale(1.0);
    background-size: 100% 2px, auto;
}

